$breakpoint: 801px;


@media (min-width: $breakpoint)  {
  .header {
    margin-bottom: 20px;
  }
}

.field-group {
  display: flex;
  align-items: center;
}

.input-fields {
  display: flex;
  flex-direction: column;
  width: 90%;
}

@media (min-width: $breakpoint)  {
  .input-fields {
    width: 40%;
    min-width: 300px;
  }
}

.in-group {
  margin-bottom: 20px;
}

.css-2-text .css-input-group {
  order: 1;
}

.css-2-text .text-input-group {
  order: 2;
}

.switch {
  margin-left: 10px;
}

.switch:after {
  content: '\21d4';
  height: 20px;
  width: 30px;
  cursor: pointer;
  display: block;
  transform: rotate(90deg);
  font-size: 35px;
}
